*{color: black
}

body {

    background-color: rgb(50, 119, 221);
}

/* Pat's Salmon Cookies */
h1 {
    background-color:rgb(221, 66, 66);
    margin: 10px;
    padding: 5px;
    border: 1px solid black;
    text-align: center;
    font-size: 40px;    
}

/* Salmon Cookie Locations */

h2 {
    text-emphasis-color: black;
    text-decoration: underline;
    font-size: 30px;
    padding: 10px;
}

/* store hours and location */
h3 {
    color: black;
    font-size: 20px;
    padding: 10px;
    text-decoration: underline;
}

ul {
    padding: -3px;
}

/* store locations and addresses */
li {
    margin: 3px;
    padding: 8px;
    color: white;
}

.family-photo {
    position: relative;
    left: 35%;
    top: -300px;
    width: 26%;
}

.chinook-fish {
    position: relative;
    width: 250px;
    margin: 30px;
    top: -50px;
}

.cutter-fish {
    position: relative;
    left: 78%;
    top: -660px;
    width: 10%;

}

.rainbow-fish {
    position: relative;
    left: 150px;
    top: -300px;
    width: 215px;
    margin: 30px;
}

.frosted-cookie-fish {
    position: relative;
    left: -400px;
    top: -300px;
    width: 185px;
    margin: 30px;
}

.salmon {
    position: relative;
    left: 25%;
    top: -250px;
    width: 30%;
}

.fish-shirt {
    position: relative;
    left: 20%;
    top: -75px;
    width: 15%;
}

div {
    margin: 100px;
}

table {
    border: 1px solid black;
    width: 300px;
}

td {
    width: 300px;
    padding: 10px;
    color: white;
    border:black;
}

th {
    color: white;
    padding: 10px;
}



